/* style for the navbar */
.navbar-fixed {
  width: 100%;
  position: fixed;
  z-index: 9;
}

nav .container {
  display: flex;
}

nav .navbar-nav .nav-btn {
  background-color: rgb(40, 136, 85);
  color: rgb(212, 231, 221);
  margin-left: 12px;
  width: 50%;
  margin: auto;
}

/* HEADER */
header .centered {
  text-align: center;
  background-image: url(./images/about1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10rem 0 5rem;
  width: 100%;
  color: #fff;
}

/* SECTION */
/* gave the grid be 100% so it doesnt have an over flow */
section .row {
  width: 100%;
  text-align: center;
  padding: 14px;
}

/* allowed the image cover the full width and gave it a margin-top */
section .row img {
  margin-top: 7.7rem;
}

/* ARTICLE */
article .programs {
  padding: 5rem 3rem 2rem;
}
/*  */
/* ARTICLE-2  BUT REPRESENTS article-2, article-3, article-4 and article-5*/

/* made the grid not have over flow */
article .row {
  width: 100%;
}

/* gave the anchor tag for all 4 article a style */
.row .text a {
  color: rgb(40, 136, 85);
}
/* END OF ARTICLE-2, 3, 4 & 5 */

/* ARTICLE-6 */
.article-6 .latest-news {
  margin-top: 10rem;
}

/* gave the cards a margin-top article-6 */
.article-6 .row .card {
  margin-top: 2rem;
  height: 50vh;
}

/* gave the image equal view height for article-6 */
.article-6 .row img {
  height: 25vh;
}

/* ARTICLE-7 */
/* gave the anchor button in article-7 different styles */
.article-7 button a {
  background-color: rgb(40, 136, 85);
  border: none;
  padding: 1rem 3rem;
  border-radius: 10px;
}

/* gave the button it self space at the top and no border  */
.article-7 button {
  border: none;
  margin-top: 4rem;
}

/* ARTICLE-8 */
.know-first {
  background-color: #000000;
  padding: 3rem 1rem;
  margin-top: 4rem;
}

/* styling for header-2 (h2)  */
.know-first h2 {
  padding: 0 3rem;
  margin-top: 1rem;
  font-size: 1rem;
}

/* stryling for SVG to give them space inbetween eachother */
.know-first svg {
  margin-right: 20px;
}

/* article-9 */
/* stylying for article-9 paragraph (p) */
.article-9 .got-questions p {
  text-align: center;
  padding: 1rem;
  margin-top: -18px;
}

/* gave the article-9 header (h2) a font-size and space at the top */
.article-9 .got-questions h2 {
  font-size: 2rem;
  margin-top: 3rem;
}

/* just removed the border cos it alread took the 
styling of the previous button */
.article-9 button {
  border: none;
  margin-bottom: 2rem;
}

/* gave the anchor tag (link) a style */
.article-9 .got-questions a {
  text-decoration: none;
  background-color: rgb(40, 136, 85);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 10px;
}

/* FOOTER  */
/* gave the footer a background-color of green  */
footer {
  background-color: rgb(40, 136, 85);
}

/* gave the svg icons a margin-right and color */
.combined svg {
  margin-right: 1.4rem;
}

/* gave the class wraping the links a margin-bottom and a padding top */
.combined .links {
  padding-top: 2.5rem;
}

footer .combined h3 {
  padding: 2rem 1rem 5rem;
  color: #fff;
  font-size: 1rem;
}

/* DESKTOP VIEW */
@media (min-width: 992px) {
  /* nav */
  nav .navbar-nav .active {
    border-bottom: 5px solid rgb(40, 136, 85);
  }

  /* SECTION */
  /* section style for desktop */
  section .row {
    padding: 0 4rem;
    line-height: 1.8rem;
    text-align: start;
  }

  section .row .text h4 {
    margin-top: 8rem;
  }

  /* ARTICLE */
  article .programs {
    padding: 0rem 15rem 2rem;
    margin-top: 10rem;
  }

  /* ARTICLE-2 */
  /* gave all article with the class a padding left*/
  article .row {
    padding-left: 5rem;
  }

  /* aligned all article with the class text to the left */
  .row .text {
    text-align: left;
  }

  /* for all desktop anchor tag */
  .row a {
    text-align: start;
  }

  /* ARTICLE-6 */
  /* alignd the texts to the center and gave it a  margin-top */
  .article-6 .latest-news {
    margin-top: 10rem;
  }

  /* gave the cards a margin-top article-6 and equal view height*/
  .article-6 .row .card {
    height: 55vh;
  }

  /* gave the image equal view height for article-6 */
  .article-6 .row img {
    height: 25vh;
  }

  /* ARTICLE-8 */
  /* gave the button class header-2 (h2) in article-8 spaces by
   the side and a font-size*/
  .know-first h2 {
    padding: 0 12rem;
    font-size: 1.5rem;
  }

  /*  ARTICLE-9*/
  .article-9 .got-questions h2 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  /* END OF ARTICLE-9 FOR DESKTOP VIEW */

  /* FOOTER */
  /* FOOTER */
  footer .combined h3 {
    padding: 2rem 5rem 5rem;
    font-size: 1rem;
  }
}
