/* made the nav absolute so the drop down can come on it background-text */
nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* aligned all links to the center at drop down */
nav .links {
  text-align: center;
  position: fixed;
  width: 100%;
}

/* gave the logo image a width  */
.links img {
  width: 20%;
}

/* gave the heaader a style */
header {
  background-color: rgb(245, 203, 220);
  padding: 15rem 3rem 7.5rem;
  text-align: center;
  color: #0c0b0b;
}

/* gave the header paragraph (p) a padding left and right */
header p {
  padding: 0 3rem;
}
/* END OF HEADER */

/* SECTION */
section {
  text-align: center;
  margin-top: 10rem;
}

section a {
  text-decoration: none;
  color: rgb(10, 98, 68);
  line-height: 3rem;
}

/* END OF SECTION */

/* FOOTER */

/* FOOTER  */

/* gave the footer a background-color of green  */
footer {
  background-color: rgb(42, 102, 42);
  margin-top: 10rem;
}

/* moved the group class to the center and gave it a margin-top */
.combined {
  text-align: center;
  margin-top: 3rem;
}

/* gave the svg icons a margin-right and color */
.combined svg {
  margin-right: 1.4rem;
  color: #fff;
}

/* gave the class wraping the links a margin-bottom and a padding top */
.combined .links {
  margin-bottom: 1.2rem;
  padding-top: 2.5rem;
}

/* gave the anchor tag a color and margin-right */
.combined .links a {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
}

/*  */
footer .combined h3 {
  padding: 2rem 1rem 5rem;
  color: #fff;
  font-size: 1rem;
}
/* END OF THE FOOTER */
