/* made the nav absolute so the drop down can come on it background-text */

.navbar-fixed {
  width: 100%;
  position: fixed;
  z-index: 9;
}

nav {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav .navbar-brand {
  font-size: 1rem;
  font-weight: bold;
  visibility: hidden;
}

nav .navbar-nav .nav-btn {
  background-color: rgb(40, 136, 85);
  color: rgb(212, 231, 221);
  margin-left: 12px;
  width: 50%;
  margin: auto;
}

@media (min-width: 992px) {
  nav .navbar-nav .active {
    border-bottom: 5px solid rgb(40, 136, 85);
  }

  nav .navbar-brand {
    visibility: visible;
  }
}

nav .navbar-nav .nav-btn {
  margin-left: 14px;
}
/* gave the logo image a width  */
.links img {
  width: 15%;
}

/* gave the heaader a style */
header {
  background-color: rgb(249, 236, 220);
  padding: 15rem 3rem 7.5rem;
}

/* SECTION */
section {
  margin-top: 10rem;
}

section a {
  /* text-decoration: none; */
  color: rgb(10, 98, 68);
  line-height: 3rem;
}

/* FOOTER  */
/* gave the footer a background-color of green  */
footer {
  background-color: rgb(42, 102, 42);
  margin-top: 10rem;
}

/*  */
footer .combined h3 {
  padding: 2rem 1rem 5rem;
  font-size: 1rem;
}
/* END OF THE FOOTER */
