.navbar-fixed {
  width: 100%;
  position: fixed;
  z-index: 9;
}

nav {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav .navbar-brand {
  font-size: 1rem;
  font-weight: bold;
  visibility: hidden;
}

nav .navbar-nav .nav-btn {
  background-color: rgb(40, 136, 85);
  color: rgb(212, 231, 221);
  margin-left: 12px;
  width: 50%;
  margin: auto;
}

/* gave the logo a size */
.links img {
  width: 15%;
}

/* SECTION */
section {
  margin: 0 1rem;
  padding-top: 5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

/* moved all the text in the class of login to the
 center and gave the spaces around and also a background-color */
section .login {
  background-color: rgb(141, 246, 211);
  padding: 1rem 2rem;
  border-radius: 10px;
}

/* gave the section and login class order list a line
 height and text align of start */
section .login ol,
p {
  line-height: 2rem;
}

/* moved the text in the class of row to the center */
section .row {
  align-items: center;
}

/* made te two classes aligned side by side */
section .row .combined {
  display: flex;
}

/* gave the checkbox space at the right */
section .row .combined .checkbox {
  margin-right: 3rem;
}

/* gave the anchor tag a color */
section .combined a {
  color: rgb(50, 168, 129);
}

/* gave the proceed button a style */
section .proceed button {
  background-color: rgb(50, 168, 129);
  border: none;
  padding: 10px 2rem;
  width: 60%;
  border-radius: 10px;
}
