/* made the nav absolute so the drop down can come on it background-text */
nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* aligned all links to the center at drop down */
nav .links {
  text-align: center;
  position: fixed;
  width: 100%;
}

/* gave the logo image a width  */
.links img {
  width: 20%;
}

/* gave the heaader a style */
header {
  background-color: rgb(245, 203, 220);
  padding: 15rem 5rem 8rem;
  text-align: center;
  color: #fff;
}

/* gave the header paragraph (p) a padding left and right */
header p {
  padding: 0 3rem;
}

/* gave the grid a width of 100% so there wont be an overflow */
.row {
  width: 100%;
}

/* made the section that was made for the desktop not appear on mobile screen */
.desktop {
  display: none;
}

/* gave all the paragraph text in the ID if abt-text a size of 3rem */
article #abt-text p {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

/* aligned all the text in the mobile section to the center */
section .mobile {
  text-align: center;
}

/* gave the mobile section image a width, padding & margin-top */
section .mobile img {
  width: 100%;
  padding: 2rem 3rem;
  margin-top: 8rem;
}

/* have the header (h2) in section mobile a margin-bottom */
section .mobile h2 {
  margin-bottom: 2rem;
}

/* have the paragraph in section a padding of left and right */
section p {
  padding: 0 1rem;
}
/* END OF SECTION  */

/* ARTICLE */
/* gave the id of text spaces left and right and also aligned 
them to the center */
article #text {
  text-align: center;
  padding: 3rem 1rem;
}

/* gave the id of text header-2(h2) a space below  */
article #text h2 {
  margin-bottom: 2rem;
}

/* made the width 100 so it dont over-flow */
article img {
  width: 100%;
  margin-top: 8rem;
}

/* gave the anchor tag/link a color */
article a {
  text-decoration: none;
  color: rgb(16, 69, 16);
}

/* ARTICLE-2 */
/* moved all text to the center and gave them spaces at the left and right */
.article-2 {
  text-align: center;
}

article #text h3 {
  margin-bottom: 2rem;
}

/* gave the class of article-2 image a space on the left */
.article-2 img {
  padding: 0 0 0 1rem;
}

/* gave the class of article-2 and id of texts a space inbetween their lines */
.article-2 .mobile #text {
  line-height: 2.5rem;
}

/* DESKTOP VIEW */
@media (min-width: 992px) {
  /* turned off the section that was made for the mobile-view */
  .mobile {
    display: none;
  }

  /* turned on the sctio that was made for the deesktop view */
  .desktop {
    display: inherit;
  }

  /* gave the desktop class some styling */
  section .desktop {
    text-align: start;
    padding: 2rem 5rem;
    margin-top: 7rem;
  }

  /* removed the padding in the section paragraph so all texts
   can align perfectly */
  section p {
    padding: 0;
  }
  /* END OF SECTION */

  /* ARTICLE */
  /* gave the whole article space at the top and padding at the left and right */
  article {
    margin-top: 14rem;
    padding: 0 4rem;
  }

  /* gave the id of text spaces left and right and also aligned 
them to the center */
  article #text {
    text-align: start;
    padding: 0 1rem;
  }

  /* gave the article image a width of 100% so it dont over-flow */
  article img {
    width: 100%;
    margin-top: 0;
  }

  /* gave the article header (h2) space at the bottom */
  article .mobile .row h2 {
    margin-bottom: 3rem;
  }

  /* have the paragraph in the article a  line height of 2rem */
  article .mobile p {
    line-height: 2rem;
  }

  /* NOTE: THE CLASS OF ARTICLE-2 TOOK THE MOBILE AND ALSO 
  THE PREVIOUS FORMAT(cos of the class and element name) */
}
