/* made the nav absolute so the drop down can come on it background-text */
nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* aligned all links to the center at drop down */
nav .links {
  text-align: center;
  position: fixed;
  width: 100%;
}

/* gave the logo image a width  */
.links img {
  width: 20%;
}

/* gave the heaader a style */
header {
  background-color: rgb(245, 203, 220);
  padding: 15rem 5rem 8rem;
  text-align: center;
  color: #fff;
}

/* gave the header paragraph (p) a padding left and right */
header p {
  padding: 0 3rem;
}

/* gave the grid a width of 100% so there wont be an overflow */
.row {
  width: 100%;
}

/* made the section that was made for the desktop not appear on mobile screen */
.desktop {
  display: none;
}

/* gave all the paragraph text in the ID if abt-text a size of 3rem */
article #abt-text p {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

/* aligned all the text in the mobile section to the center */
section .mobile {
  text-align: center;
}

/* gave the mobile section image a width, padding & margin-top */
section .mobile img {
  width: 100%;
  padding: 2rem 3rem;
  margin-top: 8rem;
}

/* have the header (h2) in section mobile a margin-bottom */
section .mobile h2 {
  margin-bottom: 2rem;
}

/* have the paragraph in section a padding of left and right */
section p {
  padding: 0 1rem;
}
@media (min-width: 992px) {
  /* turned off the section that was made for the mobile-view */
  section .mobile {
    display: none;
  }

  /* turned on the sctio that was made for the deesktop view */
  .desktop {
    display: inherit;
  }

  section .desktop {
    text-align: start;
    padding: 2rem 5rem;
    margin-top: 7rem;
  }

  section p {
    padding: 0;
  }
}
