/* style for the navbar */

/* gave the navbar and absolute so the drop down menu
 list can go on the image  */
nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  width: 100%;
}

/* styled the nav-links drop down */
nav .links .navbar-nav a {
  text-align: center;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* hiding the text from showing */
nav .links .navbar-brand {
  display: none;
}

/* created a new link so the navbar button can go to the rightb 
and displayed it hidden */
.nav {
  visibility: hidden;
}

/* gave the header a relative to the nav absolute */
header {
  position: relative;
}

/* styled the texts on the image and gave the it a relationship 
with the centered div  */
.carousel-inner {
  position: relative;
  text-align: center;
  color: #fff;
}

/* gave the text an absolute so it can go on the image and also
 gave it some spaces */
.text {
  position: absolute;
  top: 15%;
  left: 0%;
  padding: 0 3rem;
}

/* gave the image a size */
.text img {
  width: 25%;
}

/* gave the anchor tag a color */
.text a {
  text-decoration: none;
  color: rgb(1, 22, 1);
}

/* removed the prev button */
header button .carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* removed the next button */
header button .carousel-control-next,
.carousel-control-prev {
  display: none;
}

/* added some styling to the section */
section {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  color: #fff;
  letter-spacing: 0.2px;
}

/* changed the color of the anchor tag */
section a {
  text-decoration: none;
  color: rgb(1, 41, 1);
}

@media (min-width: 992px) {
  /* gave the nav a padding left and right and also made the position initial
   so it doesnt take the default nav positioning  */
  nav {
    position: initial;
    padding: 0 3rem;
  }

  /* allowed the nav-text display on wider screen */
  nav .links .navbar-brand {
    display: inherit;
  }

  /* gave the nav a position of initial so it will return the nav back to its
   original state and not the default state  */
  nav {
    position: initial;
  }

  /* gave the whole header a postion of initial so it will 
  return the back the header to its original state */
  header {
    position: initial;
  }

  /* gave the text a position of initial so it will return 
  the text back to its original state*/
  header .text {
    position: initial;
    text-align: left;
  }

  /* gave the logo image a width */
  header .text img {
    width: 40%;
  }

  /* allowed the header image occupy all its space */
  header .row .image img {
    width: 100%;
  }

  /* added the prev button */
  header button .carousel-control-prev,
  .carousel-control-next {
    display: inherit;
  }

  /* added back the next button */
  header button .carousel-control-next,
  .carousel-control-prev {
    display: inherit;
  }

  /* added back the previous button */
  .carousel-inner {
    position: initial;
    color: rgb(0, 0, 0);
  }

  /* aligned the section text to the center */
  section {
    text-align: center;
  }
}
