/* style for the navbar */

/* made the navbar fixed and gave it a z-index */
.navbar-fixed {
  width: 100%;
  position: fixed;
  z-index: 9;
}

nav .navbar-brand {
  font-size: 10px;
  font-weight: bold;
  visibility: hidden;
}

nav .navbar-nav .nav-btn {
  background-color: rgb(40, 136, 85);
  color: rgb(212, 231, 221);
  width: 50%;
  margin: auto;
}

header .carousel-inner {
  padding-top: 5rem;
}

header .image {
  display: none;
}

/* CAROUSEL */
.text img {
  width: 25%;
}

header .text {
  text-align: center;
  padding: 3rem 2rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* CAROUSEL-2 */
header .text2 {
  text-align: center;
  padding: 3rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./images/image2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.text2 img {
  width: 25%;
}

/* CAROUSEL-3 */
header .text3 {
  text-align: center;
  padding: 3rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./images/hero3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.text3 img {
  width: 25%;
}

header a {
  text-decoration: none;
  color: rgb(40, 136, 85);
  font-weight: bold;
}
/*  */

/* removed the prev button */
header button .carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* removed the next button */
header button .carousel-control-next,
.carousel-control-prev {
  display: none;
}

/* SECTION */
section {
  background-color: rgb(0, 0, 0);
  padding: 15px 0;
  color: #fff;
}

section h6 {
  font-size: 12px;
}

section a {
  color: rgb(40, 136, 85);
}

/* ARTICLE  */
article {
  align-items: start;
}

article .image img {
  width: 80%;
  padding: 5rem 2rem;
}

/* gave the article headings (h2 & h3) a font-size */
article h2,
h3 {
  font-size: 16px;
}

/* gave the article header (h6) which is about us an orange color */
article h6 {
  color: rgb(214, 96, 23);
}

/* gave the article abt-image a size and space at the top */
article #abt-image img {
  width: 100%;
}

/* style for the anchor tag */
article a {
  background-color: rgb(40, 136, 85);
  border-radius: 5px;
}

/* turned off all the image in the class of desktop article about-image */
article .desktop .about-image {
  display: none;
}

/* made all the content in the desktop class not display */
article .desktop {
  display: none;
}

/* ARTICLE-2 */

.article-2 {
  background-color: rgb(242, 252, 249);
  padding: 0 0 4rem;
}

/* gave the card a different view height from the desktop */
.article-2 .row .card {
  height: 110vh;
  width: 100%;
}

/* stopped the card-1 from showing on mobile screen */
.article-2 .row .card-1 {
  display: none;
}

/* gave the buttons for both a flex */
.article-2 .row .all-btn {
  display: flex;
}

.article-2 .row .btn-1 a {
  background-color: rgb(40, 136, 85);
  border: none;
  margin-right: 1rem;
  width: 8rem;
}

.article-2 .row .btn-2 a {
  background-color: rgb(219, 249, 234);
  color: rgb(40, 136, 85);
  border: none;
  width: 8rem;
}

/* END OF ARTICLE-2 */

/* ARTICLE-3 */
/* gave the image equal view height for article-3 */
.article-3 .row img {
  height: 25vh;
}

/* ARTICLE-4 */
.article-4 button {
  background-color: rgb(40, 136, 85);
  cursor: pointer;
  width: 60%;
  border-radius: 5px;
  border: none;
}

/* just removed the border cos it alread took the styling of the previous button */
.article-6 button {
  border: none;
}

footer {
  background-color: rgb(40, 136, 85);
}

/* DESKTOP VIEW */
@media (min-width: 992px) {
  /* allowed the text from appearing on the mobile view */

  nav .navbar-nav .active {
    border-bottom: 5px solid rgb(40, 136, 85);
  }

  nav .navbar-brand {
    visibility: visible;
    font-size: 1rem;
  }

  nav .navbar-nav .nav-btn {
    margin-left: 14px;
  }

  /* HEADER */
  header .image {
    display: block;
  }

  header .text {
    background-image: none;
    color: black;
    text-align: start;
  }

  header .text2 {
    background-image: none;
    color: rgb(0, 0, 0);
    text-align: start;
  }
  header .text3 {
    background-image: none;
    color: rgb(0, 0, 0);
    text-align: start;
  }

  /* BUTTONS */
  header button .carousel-control-prev,
  .carousel-control-next {
    display: inherit;
  }

  header button .carousel-control-next,
  .carousel-control-prev {
    display: inherit;
  }
  /*  */

  /* aligned all the article text to the left and gave them top and bottom space */
  article #text {
    text-align: start;
    padding: 5rem 0;
  }

  /* made the id called abt-image not display */
  article #abt-image img {
    display: none;
  }

  /* made the id called abt-text not display */
  article #abt-text {
    display: none;
  }

  /* made the desktop image in the class of about-image display by
   turning it on here*/
  article .desktop .about-image {
    display: block;
  }

  article .desktop {
    display: block;
  }

  article .row .image img {
    width: 100%;
  }

  /* ARTICLE-2 */

  .article-2 .row {
    background-color: rgb(242, 252, 249);
  }

  /* gave the cards and equal view height */
  .article-2 .row .card {
    height: 100vh;
    width: 100%;
  }

  /* gave the class of article-2 and class of programmes a padding */
  .article-2 .programmes {
    padding: 0rem 10rem 0rem;
  }

  /* gave the card image and equal veiw height and different from the desktop*/
  .article-2 .row img {
    height: 45vh;
  }

  .article-2 .row .card-1 {
    display: block;
  }

  .article-2 .row a {
    font-size: 1rem;
    width: 10rem;
  }
  /* End of article-2 */

  /* ARTICLE-3 */
  /* gave the image equal view height for article-3 */
  .article-3 .row img {
    height: 35vh;
  }

  /* ARTICLE-4 */
  /* gave the button in article-4 a width */
  .article-4 button {
    width: 20%;
  }

  /* ARTICLE-5 */
  .know-first h2 {
    font-size: 1.5rem;
  }

  /* ARTICLE-6 */
  .article-6 .got-questions h2 {
    font-size: 2rem;
  }
}
