/* style for the navbar */

/* made the nav .links fixed  */
nav .links {
  position: fixed;
  width: 100%;
}
/* gave the navbar and absolute so the drop down menu
 list can go on the image  */
nav {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: #fff;
}

/* gave the navbar space around */
.navbar {
  padding: 1rem 2.5rem;
}

/* styled the nav-links drop down */
nav .link .navbar-nav a {
  text-align: center;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
}

/* hiding the text from showing */
/*  */
nav .link h4 {
  display: none;
}

/* made the login a button and gave it a background-color */
.link .navbar-nav .btn-login {
  background-color: rgb(17, 104, 17);
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 10px;
}

/* created a new link so the navbar button can go to the rightb 
and displayed it hidden */
.nav {
  visibility: hidden;
}

/* hide the text from appearing on the mobile view */
.links .container-fluid h4 {
  display: none;
}

/* gave the header a relative to the nav absolute */
header {
  position: relative;
}

/* gave the container wrapping the header a space at the top */
header .carousel-inner {
  padding-top: 6rem;
}

/* styled the texts on the image and gave the it a relationship 
with the centered div  */
.carousel-inner {
  position: relative;
  text-align: center;
  color: #fff;
}

/* gave the text an absolute so it can go on the image and also
 gave it some spaces */
.text {
  position: absolute;
  top: 15%;
  left: 0%;
  padding: 0 3rem;
}

/* gave the image a size */
.text img {
  width: 25%;
}

/* gave the anchor tag a color */
.text a {
  text-decoration: none;
  color: rgb(1, 22, 1);
}

/* removed the prev button */
header button .carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* removed the next button */
header button .carousel-control-next,
.carousel-control-prev {
  display: none;
}

/* added some styling to the section */
section {
  background-color: rgb(0, 0, 0);
  padding: 15px 0;
  color: #fff;
}

/* gave the section h6 a font-size */
section h6 {
  font-size: 12px;
}

/* changed the color of the anchor tag */
section a {
  text-decoration: none;
  color: rgb(1, 41, 1);
}

/* position the article image of the president  */
article .image img {
  width: 100%;
  padding: 5rem 2rem;
}

/* gave the article text heading (h4) a padding on the right */
article #text h4 {
  padding: 0 2rem 0 0;
}

/* gave the article header (h2) a margin-top */
article h2 {
  margin-top: 3rem;
}

/* gave the article headings (h2 & h3) a font-size */
article h2,
h3 {
  font-size: 16px;
}

/* gave the article header (h6) which is about us an orange color */
article h6 {
  color: rgb(214, 96, 23);
  padding-bottom: 1.5rem;
}

/* gave the article abt-image a size and space at the top */
article #abt-image img {
  margin-top: 8rem;
  width: 100%;
  padding: 2rem 2rem;
  float: right;
}

/* gave the article paragraph space at the bottom */
article p {
  margin-bottom: 1rem;
}

/* style for the anchor tag */
article a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(1, 41, 1);
  padding: 10px 2rem;
  border-radius: 5px;
}

/* gave all the paragraph text in the ID if abt-text a size of 3rem */
article #abt-text p {
  margin-bottom: 2rem;
}

/* turned off all the image in the class of desktop article about-image */
article .desktop .about-image {
  display: none;
}

/* made all the content in the desktop class not display */
article .desktop {
  display: none;
}

/* ARTICLE-2 */

.article-2 {
  padding: 0 1rem;
}

/* gave the card a different view height from the desktop */
.article-2 .row .card {
  height: 100vh;
  width: 100%;
}

/* gave the class of article-2 and class of programmes a padding */
.article-2 .programmes {
  padding: 5rem 2rem 5rem;
}

/* gave the class of article-2 and class of programmes paragraph (p) 
a padding and aligned everything to the center */
.article-2 .programmes p {
  text-align: center;
}

/* gave the card image and equal veiw height */
.article-2 .row img {
  height: 40vh;
}

/* gave the class of article-2 and class of row , 
class of card-title and class of text a start align of start */
.article-2 .row .card-title,
.card-text {
  text-align: start;
}

.article-2 .row .card-title,
.card-text {
  margin-bottom: 2rem;
}

/* gave the class of article-2 and class of row and class of card-text a margin-top */
.article-2 .row .card-text {
  margin-top: -25px;
}

/* stopped the card-1 from showing on mobile screen */
.article-2 .row .card-1 {
  display: none;
}

/* gave the article-2 anchor tage a background-color, a width, 
no border and spaces */
.article-2 .row a {
  background-color: rgb(1, 22, 1);
  border: none;
  padding: 10px 10px;
  width: 5rem;
  font-size: 10px;
}

/* END OF ARTICLE-2 */

/* ARTICLE-3 */

/* gave the article-3 a center text and a margin-top */
.article-3 .latest-news {
  text-align: center;
  margin-top: 6rem;
  padding: 0 2rem;
}

/* ARTICLE-3 */
/* gave the whole article-3 a padding of left and right */
.article-3 {
  padding: 0 3rem;
}

/* gave the cards a margin-top article-3 */
.article-3 .row .card {
  margin-top: 2rem;
}

/* gave the image equal view height for article-3 */
.article-3 .row img {
  height: 25vh;
}
/* END OF ARTICLE-3 */

/* ARTICLE-4 */
.article-4 button {
  display: initial;
  text-decoration: none;
  background-color: rgb(1, 41, 1);
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  cursor: pointer;
  width: 60%;
  border-radius: 5px;
}

/* ARTICLE-5 */
.know-first {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 3rem 1rem;
}

/* styling for header-2 (h2)  */
.know-first h2 {
  padding: 0 3rem;
  margin-top: 1rem;
}

/* stryling for SVG to give them space inbetween eachother */
.know-first svg {
  margin-right: 20px;
}

/* stylying for article-6 paragraph (p) */
.article-6 .got-questions p {
  text-align: center;
  padding: 1rem;
  margin-top: -18px;
}

/* just removed the border cos it alread took the styling of the previous button */
.article-6 button {
  border: none;
  margin-bottom: 2rem;
}

/* FOOTER  */

/* gave the footer a background-color of green  */
footer {
  background-color: rgb(1, 22, 1);
}

/* moved the group class to the center and gave it a margin-top */
.combined {
  text-align: center;
  margin-top: 3rem;
}

/* gave the svg icons a margin-right and color */
.combined svg {
  margin-right: 1.4rem;
  color: #fff;
}

/* gave the class wraping the links a margin-bottom and a padding top */
.combined .links {
  margin-bottom: 1.2rem;
  padding-top: 2.5rem;
}

/* gave the anchor tag a color and margin-right */
.combined .links a {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
}

footer .combined h3 {
  padding: 2rem 1rem 5rem;
  color: #fff;
}
/* DESKTOP VIEW */
@media (min-width: 992px) {
  /* allowed the text from appearing on the mobile view */
  .links .container-fluid h4 {
    display: initial;
  }

  /* gave the navbar h4 a paddin of top&bottom and also left and right */
  nav .links h4 {
    padding: 1rem 2rem;
  }

  /* allowed the nav-text display on wider screen */
  nav .links .navbar-brand {
    display: inherit;
  }

  /* changed the font-size of the link  */
  nav .link h4 {
    display: initial;
    font-size: 16px;
    font-weight: bold;
  }

  /* gave the whole header a postion of initial so it will 
  return the back the header to its original state */
  header {
    position: initial;
  }

  /* gave the text a position of initial so it will return 
  the text back to its original state*/
  header .text {
    position: initial;
    text-align: left;
  }

  /* gave the logo image a width */
  header .text img {
    width: 40%;
  }

  /* allowed the header image occupy all its space */
  header .row .image img {
    width: 100%;
  }

  /* added the prev button */
  header button .carousel-control-prev,
  .carousel-control-next {
    display: inherit;
  }

  /* added back the next button */
  header button .carousel-control-next,
  .carousel-control-prev {
    display: inherit;
  }

  /* added back the previous button */
  .carousel-inner {
    position: initial;
    color: rgb(0, 0, 0);
  }

  /* aligned the section text to the center */
  section {
    text-align: center;
  }

  /* gave the image a width and spaces around */
  article .image img {
    width: 100%;
    padding: 8rem 2rem;
  }

  /* gave the article paragraph (p) top and right space */
  article p {
    padding-top: 3rem;
    padding-right: 2rem;
  }

  /* aligned all the article text to the left and gave them top and bottom space */
  article #text {
    text-align: start;
    padding: 5rem 0;
  }

  /* gave the article header (h2) a margin-top */
  article h2 {
    margin-top: 3rem;
  }

  /* gave the article headings (h2 & h3) a font-size */
  article h2,
  h3 {
    font-size: 1rem;
  }

  /* made the id called abt-image not display */
  article #abt-image img {
    display: none;
  }

  /* made the id called abt-text not display */
  article #abt-text {
    display: none;
  }

  /* made the desktop image in the class of about-image display by
   turning it on here*/
  article .desktop .about-image {
    display: inherit;
  }

  /* made the whole desktop article display by turning it on here  */
  article .desktop {
    display: inherit;
  }

  /* aligned all the text in the deastop article aligned to the left */
  article .desktop h6,
  h2,
  h4,
  p {
    text-align: start;
  }

  /* ARTICLE-2 */
  /* gave the whole article for destop a left padding */
  .article-2 {
    padding: 0 3rem;
  }

  /* gave the cards and equal view height */
  .article-2 .row .card {
    height: 120vh;
    width: 100%;
  }

  /* gave the class of article-2 and class of programmes a padding */
  .article-2 .programmes {
    padding: 8rem 5rem 5rem;
  }

  /* gave the class of article-2 and class of programmes paragraph (p) 
a padding and aligned everything to the center */
  .article-2 .programmes p {
    padding: 0 8rem;
  }

  /* gave the card image and equal veiw height and different from the mobile*/
  .article-2 .row img {
    height: 60vh;
  }

  .article-2 .row .card-1 {
    display: inherit;
  }

  /* made the anchor tlink display block and gave the 
  desktop screen its own font-size and width */
  .article-2 .row a {
    display: block;
    font-size: 1rem;
    width: 10rem;
  }
  /* End of article-2 */

  /* ARTICLE-3 */

  .article-3 {
    padding: 0 5rem;
  }

  /* gave the article-3 a center text and a margin-top */
  .article-3 .latest-news {
    text-align: center;
    margin-top: 6rem;
  }

  /* give the paragraph of class latest-news a text-align of
 center a margin-top of -2rem for the destop view*/
  .article-3 .latest-news p {
    text-align: center;
    margin-top: -2rem;
  }

  /* gave the image equal view height for article-3 */
  .article-3 .row img {
    height: 35vh;
  }
  /* END OF ARTICLE-3 */

  /* ARTICLE-4 */
  /* gave the button in article-4 a width */
  .article-4 button {
    width: 20%;
  }
  /* END OF ARTICLE-4 */

  /* ARTICLE-5 */
  /* gave the button class header-2 (h2) in article-5 spaces by
   the side and a font-size*/
  .know-first h2 {
    padding: 0 12rem;
    font-size: 1.5rem;
    text-align: center;
  }
  /* END OF ARTICLE-5 */

  /* ARTICLE-6 */
  .article-6 .got-questions h2 {
    font-size: 2rem;
  }

  /* moved the paragraph text to the center */
  .article-6 .got-questions p {
    margin-top: -18px;
  }

  /* FOOTER */
  footer .combined h3 {
    padding: 2rem 5rem 5rem;
    color: #fff;
  }
}
